body {
  font-family: 'Ubuntu', sans-serif;
}
.main-content {
  width: 100%;
  height: 680px;
}
.dummy-content-wrapper {
  height: 100%;
  width: 100%;
  overflow: scroll;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dummy-content-wrapper {
  -ms-overflow-style: none;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}
.dummy-content-wrapper::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.dummy-content-wrapper::-webkit-scrollbar
{
  height: 20px;
  background-color: #F5F5F5;
}

.dummy-content-wrapper::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #D62929;
}
.scroll-hide {
  overflow-x: hidden!important;
}
.dummy-content {
  cursor: move;
  background: url(sphere.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 200%;
  height: 100%;
}
.outer-circle{
  position: relative;
  background: transparent;
  width: 25px;
  height: 25px;
  border-collapse: separate;
  border-radius: 50%;
  border: 1px solid #f00;
  border-spacing: 10px;
  cursor: pointer;
}
.inner-circle {
  position: absolute;
  background: #f00;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.first-interest {
  top: 54%;
  left: 20%;
}
.second-interest {
  top: 54%;
  left: 8%;
}
.third-interest {
  top: 75%;
  left: 5%;
}
.fourth-interest {
  top: 67%;
  left: 26%;
}
.fifth-interest {
  top: 55%;
  left: 39%;
}
.sixth-interest {
  top: 30%;
  left: 45%;
}
.seventh-interest {
  top: 35%;
  left: 50%;
}
.eighth-interest {
  top: 25%;
  left: 61.5%;
}
.ninth-interest {
  top: 11%;
  left: 70%;
}
.pop-up {
  width: 70%;
  min-height: 570px;
  background: #fff;
  position: fixed;
  top: 8%;
  left: 15%;
  z-index: 999;
  border-radius: 3px;
  display: none;
}
.close {
  margin: 1%;
  color: #bf0f0f;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  width: 2%;
  float: left;
}
.info {
  width: 49%;
  min-height: 260px;
  padding: 2% 2% 2% 0;
  margin-top: 20%;
  float: left;
}
.para {
  color: #4c4747;
}
.span-style {
  font-weight: bold;
  color: #0e8384;
  font-size: 18px;
}
.imgs {
  width: 60%;
  width: 44%;
  float: right;
  padding: 0;
  height: 570px;
  padding: 1px;
}
.imgs img{
  width: 100%;
  height: 100%;
}
.overlay {
  width: 200%;
  height: 100%;
  z-index: 99;
  background: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  display: none;
}

@media all and (max-width: 699px) {
  .dummy-content {
    width: 300%;
  }
}
